<div class="text-center mt-5">
  <h1>Stupid Coaching</h1>
  <div>
    <p class="m-3">
      <%= @question %>
    </p>
  </div>
  <div>
    <p class="m-3">
      <em>- <%= @answer %></em>
    </p>
  </div>

  <div>
    <%= link_to "Ask again?", ask_path, class: "btn btn-warning m-3" %>
  </div>
</div>
