<div class="text-center mt-5">
  <h1>What do you want to ask❓</h1>
  <form
    action="/answer"
    data-turbo="true"
    class="mt-5">
    <input
      type="text"
      name="question"
      placeholder="Place your question here..."
      class="form-control">
    <input
      type="submit"
      value="Ask!"
      class="btn btn-success mt-3">
  </form>
</div>
